In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

In [2]:
# --- Database Connection Details (Update with your credentials) ---
DB_USER = "mysqluser"
DB_PASSWORD = "hbmHq7015$mysqluser"
DB_HOST = "hetzner"
DB_PORT = "3306"
DB_NAME = "data_jobs"

Create database engine

In [3]:
def get_db_engine():
    """Creates and returns a SQLAlchemy database engine."""
    connection_string = f"mysql+mysqlconnector://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
    try:
        engine = create_engine(connection_string)
        # Test connection
        with engine.connect() as connection:
            print(f"Successfully connected to the '{DB_NAME}' database.")
        return engine
    except Exception as e:
        print(f"Error connecting to the database: {e}")
        print("Please ensure your database server is running and credentials are correct.")
        return None

In [ ]:
# os.chdir('..')

In [4]:
os.chdir('./csv')
files = os.listdir()

Move the `job_postings.csv` to the end of the list

In [5]:
files.remove('job_postings.csv')
files.append('job_postings.csv')
files

['job_schedules.csv',
 'companies.csv',
 'job_titles.csv',
 'job_via.csv',
 'locations.csv',
 'countries.csv',
 'skills.csv',
 'job_postings.csv']

In [6]:
tables = [i[:-4] for i in files]
tables

['job_schedules',
 'companies',
 'job_titles',
 'job_via',
 'locations',
 'countries',
 'skills',
 'job_postings']

In [ ]:
# for f in tables:
#     print(f)
#     print(pd.read_csv(f'{f}.csv').head(2))
#     print('\n\n')

Load data into tables

In [7]:
def load_table(engine, table_name, csv_file):
    """Loads data from a CSV file into a database table."""
    if not os.path.exists(csv_file):
        print(f"Error: CSV file not found at '{csv_file}'. Skipping table '{table_name}'.")
        return

    try:
        df = pd.read_csv(csv_file)
        # Rename columns to match the database schema
        # if column_map:
        #     df.rename(columns=column_map, inplace=True)

        print(f"Loading data into '{table_name}' table...")
        df.to_sql(table_name, con=engine, if_exists='append', index=False)
        print(f"Successfully loaded {len(df):,} rows into '{table_name}'.\n\n")
    except Exception as e:
        print(f"Error loading data into '{table_name}': {e}\n\n")

In [8]:
engine = get_db_engine()

Successfully connected to the 'data_jobs' database.

In [9]:
for table_name, csv_file in zip(tables[:-1], files[:-1]):
    load_table(engine, table_name, csv_file)

Loading data into 'job_schedules' table...
Successfully loaded 7 rows into 'job_schedules'.


Loading data into 'companies' table...
Successfully loaded 9,134 rows into 'companies'.


Loading data into 'job_titles' table...
Successfully loaded 10 rows into 'job_titles'.


Loading data into 'job_via' table...
Successfully loaded 321 rows into 'job_via'.


Loading data into 'locations' table...
Successfully loaded 2,574 rows into 'locations'.


Loading data into 'countries' table...
Successfully loaded 112 rows into 'countries'.


Loading data into 'skills' table...
Successfully loaded 221 rows into 'skills'.

Finally, load the data into the `job_postings` table.

In [ ]:
# load_table(engine, 'job_postings', 'job_postings.csv')

Loading data into 'job_postings' table...